<div class="comments">
  <h3>Comments</h3>
  {% assign comments = site.data.comments | sort %}

</div>
<form method="POST" action="{{ site.staticman.api }}">
  {% for comment in comments reversed %}
  {% if forloop.index == 1 %}
  {% assign item = comment[1] %}
  {% assign name = item.name %}
  {% assign text = item.text %}
  {% assign message = item.message %}

  <input name="options[redirect]" type="hidden" value="{{ site.url }}">
  <input name="options[slug]" type="hidden" value="test-slug">
  <label>Name: <input value="{{ name }}" name="fields[name]" type="text"></label><br>
  <!--<input value="pierre@etc-nyc.com" name="fields[email]" type="email">-->
  <label>Message: <br><textarea name="fields[message]" rows="12" cols="36">{{ message }}</textarea></label><br>
  <input type="submit" value="Submit">
  {% endif %}
  {% endfor %}
</form>