<div class="comments">
  <h3>Labels</h3>
  {% assign labels = site.data.labels %}
  {% if labels %}
  {% assign labels = labels | sort %}
  {% endif %}

  {% for label in labels reversed %}
  {% if forloop.index == 1 %}
  {% assign item = label[1] %}
  {% for i in (1..3)%}

  {% endfor %}
  {% endif %}
  {% endfor %}

  <form id="labels-form" method="POST" action="{{ site.staticman.apilabel }}">
    <input name="options[redirect]" type="hidden" value="{{ site.url }}">
    {% for i in (1...3) %}
    <label>Name-{{i}}: <input value="" name="fields[name{{i}}]" id="name{{i}}" type="text"></label><br>
    <label>Info-{{i}}: <input value="" name="fields[info{{i}}]" id="info{{i}}" type="text"></label><br>
    <label>Price-{{i}}: <input value="" name="fields[price{{i}}]" id="price{{i}}" type="text"></label><br>
    <select name="fields[diet{{i}}]" id="diet{{i}}" multiple>
      {% for diet in site.data.diet %}
      <option value="{{diet.Slug}}">{{diet.Name}}</option>
      {% endfor %}
    </select>
    <br>
    {% endfor %}
    <input type="submit" value="Submit">
  </form>